@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap');
*{
  margin: 0%;
  /* padding: 0%; */
}
body {
  background: url(./assets/Desktop.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  font-family: 'Signika Negative', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
