.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}

.pagination button {
    border: none;
    margin: 15px 10px;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: rgba(82, 79, 79, 0.674);
    color: white;
}

.pagination h1 {
    margin: 15px 10px;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: rgba(82, 79, 79, 0.674);
    color: white;
}